*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  height: 100%;
  height: 100vh;
  background-color: white;
  display: flex;

}
.songs{
  width: 25%;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
 
}
.song{
  width: 90%;
  margin: 8px auto;
  height: 40px;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display:flex;
  align-items: center !important;
  justify-content: center;
  gap: 10px;
  font-size: large;
  overflow: hidden;
  padding: 1;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  cursor: pointer;
  
}



.addSong{
  width: 90%;
  margin: 8px auto;
  height: 80px;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display:flex;
  align-items: center !important;
  justify-content: space-around;
  gap: 10px;
  font-size: x-large;
  /* background-color:#020F65; */
  color:white;
  background-color:#020F65;
  -webkit-line-clamp: 1;
}

.song-info-div{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.song-info{
  min-width: 40%;
  background-color: white;
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;

}
.each-song{
  display: flex;
  justify-content: flex-start;

}

.songImg{
  display: flex;
}

.song-info{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.songImg{
  height: 50vh;
  background-color:#020F65;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
 
}
.icon{
  font-size:10rem;
}
.song-name{
  font-size:2rem;
  -webkit-line-clamp: 1;
}

.op{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 2rem;

}
.op > span{
  font-size: 2rem;
}
















@media screen and (max-width:600px) {
  /* .max-width {
    width: 60%;
  } */
  body{
    font-size: 2px;
  }
}

